<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../static/css/styles.css">
	</head>
	<body>
		<form>
			<input type="text" id="equation" name="equation">
		</form>
		<!-- <button type="button" class="small">(</button>
		<button type="button" class="small">)</button> -->
		<button type="button" class="small">C</button>
		<br>
		<!-- <button type="button" class="small">*</button>
		<br> -->
		<button type="button" class="small">7</button>
		<button type="button" class="small">8</button>
		<button type="button" class="small">9</button>
		<button type="button" class="small">*</button>
		<br>
		<button type="button" class="small">4</button>
		<button type="button" class="small">5</button>
		<button type="button" class="small">6</button>
		<button type="button" class="small">/</button>
		<br>
		<button type="button" class="small">1</button>
		<button type="button" class="small">2</button>
		<button type="button" class="small">3</button>
		<button type="button" class="small">+</button>
		<br>
		<button type="button" class="small">0</button>
		<button type="button" class="small">.</button>
		<button type="button" class="small">=</button>
		<button type="button" class="small">-</button>
		<br>
		<p>1</p>
		<p>2</p>
		<p>3</p>
		<p>4</p>
		<p>5</p>
		<p>6</p>
		<p>7</p>
		<p>8</p>
		<p>9</p>
		<p>10</p>
 
	</body>
</html>
